# Серверийн порт
PORT=5000

# MongoDB Atlas холболт
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/easy-todo?appName=Cluster0

# JWT Secret — 64+ characters random string
# Үүсгэх: npm run gen-secret
JWT_SECRET=CHANGE_ME_TO_RANDOM_64_CHAR_STRING

# Node environment
NODE_ENV=development